@import '../../style/mixins.scss';
@import '../../style/_variables.scss';

.get-user {
    position: relative;
    z-index: 10;
    padding: 30px 20px;

    .title {
        @include title($secondary-fonts);
        margin: 0;
        padding-bottom: 10px;
    }

    .description {
        @include description($granite-gray);
        margin: 20px 0;
    }

    &__users-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .hide-warpper {
        position: relative;
        text-align: center;
    }

    .btn-hide-show {
        position: absolute;
        width: 120px;
        right: 0;
        top: 0;
        padding: 10px 0;
        background: #fff;
        color: #eb4830;
        outline: 0;
        border: 2px solid #eb4830;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        &:hover {
            box-shadow: 0 0 10px #eb4830;
        }
    }

    .user {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 280px;
        height: 400px;
        padding: 20px 25px;
        margin: 0 10px;
        border-radius: 8px;
        cursor: default;
        transition: all 0.5s ease;

        &:hover {
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        }
    }

    .user-img {
        display: block;
        width: 150px;
        height: 150px;
    }

    .user-description {
        color: $granite-gray;
        font: 400 16px/20px $primary-fonts;
        text-align: center;
        ;
    }

    .user-name {
        color: $dark-gray;
        text-transform: uppercase;
        font: 700 12px/20px $primary-fonts;
        letter-spacing: 2px;
    }

    .user-position {
        color: $granite-gray;
        width: 92px;
        font: 400 12px/20px $primary-fonts;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .get-user {
        br {
            display: none;
        }

        &__users-container {
            .user {
                display: none;
            }

            .user:first-child {
                display: flex;
            }
        }

        .btn-hide-show {
            position: relative;
            margin: 0 auto;
        }
    }
}