@import '../../style/mixins.scss';
@import '../../style/_variables.scss';
@import '../../style/_extends.scss';

.join-our-program {
    background: url('../../images/join-bg.png') 0 0 no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    padding: 85px 20px 190px;
    margin-top: auto;

    &__title {
        @include title($secondary-fonts);
        color: $white;
        margin-bottom: 50px;
    }

    &__sub-title {
        @include description($granite-gray);
        color: $white;
        margin-bottom: 60px;
    }

    .form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 540px;
        margin: 0 auto;
    }

    .subscribe-input {
        background: rgba(255, 255, 255, 0.15);
        font: 14px/18px $primary-fonts;
        color: $white;
        outline: none;
        border: none;
        padding: 10px 20px;
        margin-right: 20px;
        flex-grow: 3;

        &::placeholder {
            font: 14px/18px $primary-fonts;
            color: $white;
            font-weight: 200;
            letter-spacing: 1px;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    .subscribe-btn {
        @extend %btn;
        @extend %btn-text;
        margin: 0;
    }

    .unsubscribe-btn {
        margin: 0 auto;
    }
}


@media only screen and (max-width: 768px) {
    .join-our-program {
        br {
            display: none;
        }

        .form {
            flex-direction: column;
        }

        .subscribe-input {
            width: 80%;
            margin: 0;
        }

        .subscribe-btn {
            margin-top: 35px;
        }
    }

    .footer {
        &__container {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__item {
            margin: 15px 0;
        }
    }
}